body {
  font-family: "league spartan";
}

.hero__bg {
  background-image: url(../images/homepage/hero-bg-mobile@2x.jpg);
  height: 46.75rem;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
}

.hero__container {
  background-color: #111111;
  height: 34rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.hero__logo {
  width: 5.125rem;
}

.hero__title {
  font-size: 2rem;
  line-height: 40px;
  letter-spacing: -0.4px;
  font-weight: 300;
  width: 15rem;
  text-align: center;
}

.hero__description {
  width: 20rem;
  text-align: center;
  line-height: 26px;
}

.hero__btn {
  background-color: #111111;
  border: 1px solid white;
  color: white;
  padding: 1.75rem 3.65rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
